<?php
date_default_timezone_set('Europe/Paris');

// Constantes d'état du site
define('ETAT', 'developpement'); // developpement, production, maintenance
define('HEBERGEMENT', 'local'); // local, en ligne
define('DEBUG', true); // true, false


// Constantes de chemins
// Convention : on ne termine jamais terminé par un slash !
if (!defined('POSITION_RELATIVE')) {
	define('POSITION_RELATIVE', '');
}
define('CACHE_PATH', POSITION_RELATIVE.'app/cache');
define('SRC_PATH', POSITION_RELATIVE . 'src');
define('VENDOR_PATH', POSITION_RELATIVE . 'vendor');
define('APP_PATH', POSITION_RELATIVE . 'app');
define('CONFIG_PATH', POSITION_RELATIVE . 'app/config');
define('WEB_PATH', POSITION_RELATIVE . 'web');
define('CSS_PATH', POSITION_RELATIVE . 'web/css');
define('JS_PATH', POSITION_RELATIVE . 'web/js');
define('IMG_PATH', POSITION_RELATIVE . 'web/img');
define('SOUND_PATH', POSITION_RELATIVE . 'web/sound');
define('TPL_PATH', POSITION_RELATIVE . 'web/tpl');

if (HEBERGEMENT == 'local') {
	define('SITE_PATH', 'http://localhost/Projet/Web/Perso/minicoach/');
}
else {
	define('SITE_PATH', 'http://fylhan.la-bnbox.fr/');
}

if (DEBUG) {
	ini_set('display_errors', true);
	ini_set('log_errors', true);
}
error_reporting(E_ALL);
ini_set('error_log', CACHE_PATH.'/error_log.txt');
define('MessageLog', CACHE_PATH.'/message_log.txt');

if (!defined('CacheEnabled')) {
	define('CacheEnabled', !DEBUG);
}
if (!defined('CompressionEnabled')) {
	define('CompressionEnabled', false);
}
if (!defined('StyleEnabled')) {
	define('StyleEnabled', true);
}

define('LOCALE', 'fr_FR');
define('CHARSET', 'UTF-8');
define('SITE_NAME', 'Mini Coach');

$app = array(
'locale' => LOCALE,
'charset' => CHARSET,
'name' => SITE_NAME,
'url' => SITE_PATH,
'title' => SITE_NAME,
'description' => 'Manger bouffer',
'authors' => 'Fylhan',
'keywords' => 'sport, coach',
);
